---
import { aboutMeData } from "../../data/aboutMeData";
import LiCard from "./LiCard.astro";
---

<ul class="w-full flex flex-col">
  {
    aboutMeData.map((data) => (
      <div class="li-card">
        <LiCard number={data.number} title={data.title} text={data.text} />
      </div>
    ))
  }
</ul>

<style>
  ul .li-card:nth-child(n + 2) {
    margin-top: 1rem;
  }
</style>
