---
import type { Talk } from "../../data/talksData";

export interface Props {
  communityImg: string;
}

const { communityImg } = Astro.props;
---

<div
  class="w-12 h-12 transform duration-500 hover:bg-white text-2xl hover:-translate-y-3 text-white hover:text-blue-600 bg-blue-600 sticky fixed astro-Y6WAX4O7"
>
  <img src={communityImg} />
</div>
