---
import type { Talk } from "../../data/talksData";

export interface Props {
  communityImg: string;
}

const { communityImg } = Astro.props;
---

<div
  class="w-12 h-12 transform duration-500 hover:bg-blue text-2xl hover:-translate-y-3 astro-Y6WAX4O7"
>
  <img src={communityImg} />
</div>
