---
export interface Props {
  number: string;
  title: string;
  text: string;
}

const { number, title, text } = Astro.props;
---

<li class="flex justify-left border-gray-200 rounded-xl bg-gray-50/95">
  <p
    class="absolute bg-sky-500 w-fit px-4 py-1 text-sm font-bold text-white rounded-tl-lg rounded-br-xl"
  >
    {title}
  </p>
  <div class="w-full flex items-center p-4 mt-3">
    <div class="px-4 text-5xl font-extralight text-red-700">{number}</div>
    <p class="py-2 text-sm text-red-900">
      {text}
    </p>
  </div>
</li>

<!--flex flex-col gap-4 items-center justify-center  -->
<!-- w-[30rem] border-2 border-b-4  -->
