---
const { text } = Astro.props;
---

<div class="flex flex-col space-y-4">
  <!-- Item -->
  <div class="relative flex justify-between py-6 px-4 bg-white/30 rounded-lg">
    <div class="flex items-center space-x-4">
      <img src="damiansire.png" class="rounded-full h-14 w-14" alt="" />
      <div class="flex flex-col space-y-1">
        <span class="font-bold">Damian Sire</span>
        <span class="text-sm">{text}</span>
      </div>
    </div>
    <div
      class="absolute top-0 right-0 md:relative flex-none px-4 py-2 text-stone-600 text-xs md:text-sm h-full"
    >
      <span>1m ago</span>
    </div>
  </div>
</div>
