---
import { talksData } from "../../data/talksData";
import TalkLine from "./TalkLine.astro";
import TalksStats from "./TalksStats.astro";
---

<div>
  <TalksStats />
  <div>
    {
      talksData.map((talkData) => (
        <div class="p-1">
          <TalkLine talkData={talkData} />
        </div>
      ))
    }
  </div>
</div>
