---
import { talkForCountry } from "../../data/talksData";
import TalkLine from "./TalkLine.astro";
---

<div class="gap-3 grid grid-cols-5 grid-rows-11">
  {
    Object.keys(talkForCountry).map((countryName) => (
      <TalkLine countryName={countryName} talkForCountry={talkForCountry} />
    ))
  }
</div>
