---
import { talksData } from "../../data/talksData";
import TalkLine from "./TalkLine.astro";
import TalksStats from "./TalksStats.astro";
---

<div class="h-full">
  <TalksStats />
  <div class="talk-container overflow-scroll h-full">
    {
      talksData.map((talkData) => (
        <div class="p-1" data-country={talkData.country}>
          <TalkLine talkData={talkData} />
        </div>
      ))
    }
  </div>
</div>
