---
const { isRight, imgSrc, description, title, iconSrc } = Astro.props;
---

<div
  class="timeline-item flex items-center p-3 justify-around relative
   bg-white rounded shadow-[0_3px_0_rgba(0,0,0,0.1)] transition-all duration-300 ease-in-out
   gap-3"
>
  <div class="">
    <img src={imgSrc} class="h-14" />
  </div>
  <div class="grow">
    <span> {description} </span>
  </div>
</div>
