---
import Icon from "astro-icon";
import { talksImgAndCountries } from "../../../data/talksData";
import { getIconByCountry } from "../../../libs/icons";
import Badge from "../Badge.astro";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const communitiesIconsContainer = document.getElementById(
      "communitiesIconsContainer"
    );
    if (communitiesIconsContainer) {
      const containerFullWidth =
        communitiesIconsContainer.scrollWidth -
        communitiesIconsContainer.clientWidth;

      document.documentElement.style.setProperty(
        "--container-width",
        `${containerFullWidth}px`
      );
    }
  });
</script>

<ul class="flex" id="communitiesIconsContainer">
  {
    [...talksImgAndCountries].map((talkData) => (
      <li class="p-1 " data-country={talkData.country}>
        <div class="flex border-gray-200 rounded-xl bg-gray-50/95 p-2">
          <div class="place-self-center relative">
            <Badge communityImg={talkData.communityImg} />
            <div class="absolute">
              <Icon name={getIconByCountry(talkData.country)} class="w-5" />
            </div>
          </div>
        </div>
      </li>
    ))
  }
</ul>

<style>
  #communitiesIconsContainer {
    animation: moveContainer linear infinite; /* Agregamos "infinite" */
    animation-duration: 120s; /* Ajusta la duración según sea necesario */
    animation-fill-mode: forwards;
  }

  @keyframes moveContainer {
    from {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(var(--container-width) * -1));
    }
    60% {
      transform: translateX(calc(var(--container-width) * -1));
    }
    to {
      transform: translateX(0);
    }
  }
</style>
