---
import CountryMap from "../components/homePage/CountryMap.astro";
import NotificationDisplay from "../components/homePage/NotificationDisplay.astro";
import RedesNotificationContainer from "../components/homePage/RedesNotificationContainer.astro";
import TimeLine from "../components/homePage/TimeLine.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Damian Sire" styles="overflow-hidden">
  <div class="flex gap-3 p-4">
    <div class="flex-grow text-center">
      <TimeLine />
    </div>
    <div class="flex flex-col gap-3">
      <NotificationDisplay text="Event or job opportunity, write to me 🔥" />
      <RedesNotificationContainer />
      <CountryMap />
    </div>
  </div>
</Layout>
