---
import AboutMe from "../components/homePage/AboutMe.astro";
import Notification from "../components/homePage/Notification.astro";
import RedesNotificationContainer from "../components/homePage/RedesNotificationContainer.astro";
import YugiohCard from "../components/homePage/YugiohCard.astro";
import Layout from "../layouts/Layout.astro";

import TalksContainer from "../components/homePage/TalksContainer.astro";
import GeneralStats from "../components/homePage/GeneralStats.astro";
---

<Layout title="Damian Sire">
  <div
    style="background-image: url('https://wallpaperaccess.com/full/295661.jpg');"
    class="grid grid-cols-11 bg-gradient-to-t h-screen p-6 bg-no-repeat bg-center"
  >
    <div class="col-span-8 gap-4 grid grid-cols-12 gap-4 pb-4 px-4">
      <div class="col-span-4">
        <TalksContainer />
      </div>
      <div class="flex flex-col col-span-8 px-16">
        <div class="pb-4">
          <GeneralStats />
        </div>
        <AboutMe />
      </div>
    </div>

    <div class="col-span-3 min-w-[450px]">
      <Notification text="Hello! While you're here, let's talk 🔥" />
      <br />
      <RedesNotificationContainer />
      <br />
      <YugiohCard />
    </div>
  </div>
</Layout>
