---
---
  <ul class="grid place-content-center sm:grid-cols-2 gap-8">
    <li class="flex justify-center">
      <div class="px-4 text-5xl font-extralight text-red-700">01.</div>
      <div>
        <div class="text-xl font-bold text-red-800">Research</div>
        <p class="max-w-xs py-2 text-sm text-red-900">
          We love numbers! We collect data and insights, analyze them then take the time
          to learn about your objectives, ask the right questions to understand your
          business.
        </p>
      </div>
    </li>
    <li class="flex justify-center">
      <div class="px-4 text-5xl font-extralight text-red-700">02.</div>
      <div>
        <div class="text-xl font-bold text-red-800">Strategey</div>
        <p class="max-w-xs py-2 text-sm text-red-900">
          Solutions are born from proper research, hard work, and strong strategy. We
          build data-driven roadmaps for every project to make pave the way to success.
        </p>
      </div>
    </li>
    <li class="flex justify-center">
      <div class="px-4 text-5xl font-extralight text-red-700">03.</div>
      <div>
        <div class="text-xl font-bold text-red-800">Design</div>
        <p class="max-w-xs py-2 text-sm text-red-900">
          We design the right solution for your business. We craft beautiful, intuitive,
          and user-friendly interfaces that are easy to use and easy to maintain.
        </p>
      </div>
    </li>
    <li class="flex justify-center">
      <div class="px-4 text-5xl font-extralight text-red-700">04.</div>
      <div>
        <div class="text-xl font-bold text-red-800">Development</div>
        <p class="max-w-xs py-2 text-sm text-red-900">
          We build the right solution for your business. We craft beautiful, intuitive,
          and user-friendly interfaces that are easy to use and easy to maintain.
        </p>
      </div>
    </li>
    <li class="flex justify-center">
      <div class="px-4 text-5xl font-extralight text-red-700">05.</div>
      <div>
        <div class="text-xl font-bold text-red-800">Deployment</div>
        <p class="max-w-xs py-2 text-sm text-red-900">
          We build the right solution for your business. We craft beautiful, intuitive,
          and user-friendly interfaces that are easy to use and easy to maintain.
        </p>
      </div>
    </li>
  </ul>
