---
import { Icon } from "astro-icon";
const currentPath = "AboutMe";
const links = [
  { svg: "mdi:account-outline", name: "About Me", path: "AboutMe" },
  /* { svg: "mdi:account-outline", name: "Teams", path: "Teams" },
  { svg: "mdi:account-outline", name: "Billing", path: "Billing" },
  { svg: "mdi:account-outline", name: "Invoices", path: "Invoices" },
  { svg: "mdi:account-outline", name: "Account", path: "Account" },*/
];

const activeClass = "bg-blue-50 text-blue-700 cursor-pointer";
const noActive = " text-gray-500 hover:bg-gray-50 hover:text-gray-700";
---

<div>
  <div class="inline-flex h-16 w-16 items-center justify-center">
    <span class="block h-10 w-10 rounded-lg bg-gray-200"></span>
  </div>

  <div class="border-t border-gray-100">
    <nav aria-label="Main Nav" class="flex flex-col p-2">
      <ul class="space-y-1 border-t border-gray-100 pt-4">
        {
          links.map((link) => {
            return (
              <li>
                <a
                  href=""
                  class={`group relative flex justify-center rounded px-2 py-1.5 ${
                    link.path === currentPath ? activeClass : noActive
                  }`}
                >
                  <Icon name={link.svg} />
                  <span class="absolute left-full top-1/2 ml-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white opacity-0 group-hover:opacity-100">
                    {link.name}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</div>
